

.cttvGenomeBrowserIcon {
    padding : 10px;
    cursor : pointer;
}

.tnt_nav_wrapper {
    text-align: center;
}

.tnt_nav_pane {
    display: "inline-block";
}

.tnt_elem {
    circle {
        cursor : pointer;
    }
}
